<div class="col-xs-12 col-sm-4 col-lg-3">
  <% if camel.photo.blank? %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://img-31.ccm2.net/Kpke-dd9yTMOMgapwF4a400NyuU=/595x/smart/f64ac657eeee4f09a97b1f156ebca6d6/ccmcms-hugo/10559137.png');">
  <% else %>
  <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%= cl_image_path camel.photo, crop: :fill %>');">
  <% end %>
    <div class="card-description">
      <h2><%= camel.name %></h2>
      <p><%= camel.description %></p>
      <% rating = 0 %>
      <% camel.reviews.each do |review| %>
        <% rating += review.rating %>
      <% end %>
      <% if camel.reviews.count > 0 && rating > 0 %>
        <% average = (rating / camel.reviews.count) %>
        <% diff = 5 - average %>
        <% rating.modulo(camel.reviews.count) > 0.49 ? fraction = 0.5 : fraction = 0 %>
        <% average.times do |x| %>
          <i class="fa fa-star rating text-center"></i>
        <% end %>
        <% if fraction == 0 %>
          <% diff.times do |y| %>
            <i class="fa fa-star-o rating text-center"></i>
          <% end %>
        <% else %>
          <i class="fa fa-star-half-o rating text-center"></i>
          <i class="fa fa-star-o rating text-center"></i>
        <% end %>
      <% else %>
        <% 5.times do |x| %>
          <i class="fa fa-star-o rating text-center"></i>
        <% end %>
      <% end %>
    </div>
    <% if camel.user.photo.blank? %>
      <i class="card-user fa fa-user"></i>
    <% else %>
      <%= cl_image_tag camel.user.photo, class: 'card-user', alt: 'User logo' %>
    <% end %>
    <%= link_to '', camel_path(camel), class: 'card-link' %>
  </div>
</div>
