<div class="camel_form text-center">
  <%= simple_form_for @camel do |f| %>
    <%= f.input :name, class: "form-control" %>
    <%= f.input :description %>
    <%= f.input :address %>
    <%= f.input :country %>
    <%= f.input :number_of_place %>
    <%= f.input :food_type, collection: ['Grass','Fruit','Vegetables','Meat'] %>
    <%= f.input :color, collection: ['Red','Blue','Camel','Orange','White','Brown'] %>
    <%= f.input :wifi %>
    <%= f.input :chameaux_fiscaux, input_html: { min: 0, max: 10 }%>
    <%= f.input :vitesse_max %>
    <%= f.input :photo %>
    <%= f.input :photo_cache, as: :hidden %>
    <%= f.input :price_per_day %>
    <%= f.submit class: "btn btn-primary" %>
  <% end %>
</div>
