<h1><%= @camel.name %></h1>

<div class="grid">
  <div class="photo">
    <%= cl_image_tag @camel.photo %>
  </div>
  <div class="description">
    <h3>Description </h3>
    <%= @camel.description %>
    <h3>Price / Day </h3>

    <div class="price"> <%= @camel.price_per_day %> $</div>
  </div>
  <div class="map">
    <%= image_tag "http://images.indianexpress.com/2016/11/hazaribagh-759.jpg" %>
  </div>
  <div class="carac">

    <i class="fas fa-users"> Places : <%= @camel.number_of_place %> </i>
    <i class="fab fa-apple"> Food Type: <%= @camel.food_type %></i>
    <i class="fas fa-paint-brush"> Color: <%= @camel.color %> </i>
    <% if @camel.wifi %>
    <i class="fas fa-wifi"> Wifi</i>
    <% else %>
    <i class="fas fa-times-circle"> No Wifi </i>
    <% end %>
    <i class="fas fa-battery-three-quarters">Fiscal camels : <%= @camel.chameaux_fiscaux %> fc</i>
    <i class="fab fa-accessible-icon">Max speed : <%= @camel.vitesse_max %> kmh</i>
  </div>
  <div class="booking">
    <% if user_signed_in? %>
    <div class="total-price">
        <span> Total = 900 $ </span>
    </div>
      <%= simple_form_for [@camel, @booking] do |f| %>
        <%= f.input :date_start, as: :date, order: [:day, :month, :year] %>
        <%= f.input :date_end, as: :date, order: [:day, :month, :year] %>
        <%= f.submit "Bouc your camel", class: "btn btn-primary" %>
      <% end %>
    <% else %>
      <div class="Info-login text-center">
        <div class="info">
        You need to be logged to rent a Camel.
        </div>
        <div class="path-redirect">
        <%= link_to "login", new_user_session_path, class: "btn btn-primary btn-lg" %>
        </div>
      </div>
    <% end %>
  </div>

</div>

<%= link_to "Back to the camels", camels_path %>
