<div class="container-show">
  <h1><%= @camel.name %></h1>
  <div class="grid">
    <div class="photo">
      <%= cl_image_tag @camel.photo, class: "picture-show" %>
    </div>
    <div class="description">
      <h3>Description </h3>
      <%= @camel.description %>
      <h3>Price / Day </h3>

      <div class="price"><span id="price"><%= @camel.price_per_day %></span> $</div>
    </div>
    <div class="carac">
      <i class="fa fa-users"><span> Places : <%= @camel.number_of_place %> </span></i>
      <i class="fa fa-apple"><span> Food Type: <%= @camel.food_type %></span></i>
      <i class="fa fa-paint-brush"><span> Color: <%= @camel.color %> </span></i>
      <% if @camel.wifi %>
      <i class="fa fa-wifi"><span> Wifi</span></i>
      <% else %>
      <i class="fa fa-times-circle"><span> No Wifi </span></i>
      <% end %>
      <i class="fa fa-battery-three-quarters"><span>Fiscal camels : <%= @camel.chameaux_fiscaux %> fc</span></i>
      <i class="fa fa-wheelchair-alt"><span>Max speed : <%= @camel.vitesse_max %> kmh</span></i>
    </div>
    <div class="booking">
      <% if user_signed_in? %>
        <div class="date-container">
        <%= simple_form_for [@camel, @booking] do |f| %>
          <% unless @booking.errors[:base].empty? %>
            <div class="base-errors-container">
             <ul>
               <% @booking.errors[:base].each do |message| %>
                  <li><%= message %></li>
               <% end %>
              </ul>
            </div>
          <% end %>
          <%= f.input :date_start, as: :string,label: 'You will start riding :', input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y')} %>
          <%= f.input :date_end, as: :string,label: 'Camel be back :', input_html: { class: "datepicker", value: Time.now.strftime('%d-%m-%Y') } %>
           <div class="text-center pricing">
             Total price : <span id="totalo"><%= @camel.price_per_day %> €</span>
           </div>
           <div class="text-center">
          <%= f.submit "Bouc your camel", class: "cbtn blue" %>
          </div>
        </div>
        <% end %>
      <% else %>
        <div class="Info-login text-center">
          <div class="info">
          You need to be logged to rent a Camel.
          </div>
          <div class="path-redirect">
          <%= link_to "login", new_user_session_path, class: "btn btn-primary btn-lg" %>
          </div>
        </div>
      <% end %>
      <div class="text-center">
        <div class="edit_camel">
          <% if policy(@camel).edit? %>
            <%= link_to "Edit #{@camel.name}", edit_camel_path, class: "cbtn camel" %>
          <% end %>
        <div id="back">
          <%= link_to "Back to the camels", camels_path, id: "back", class: "cbtn camel" %>
        </div>
        </div>
      </div>
    </div>

    <div class="map">
      <div class="find-me">
        <div class="flexbox">
          <div class="flex-item-1">
            <i class="fa fa-location-arrow"></i>
          </div>
          <div class="flex-item-2">
            <%= @camel.address %>
          </div>
        </div>
      <%= cl_image_tag "https://maps.googleapis.com/maps/api/staticmap?center=#{@camel.latitude}, #{@camel.longitude}&zoom=16&size=600x300&maptype=hybrid&markers=color:red%7Clabel:C%7C#{@camel.latitude}, #{@camel.longitude}&key=AIzaSyCGd4LW3sY44cZqiXGYPVJzlI2iCcMkfks" %>
      </div>
    </div>
    <div class="reviews">
      <div id="reviews">
        <% if @camel.reviews.blank? %>
          Be the first to leave a review for <%= @camel.name %>
        <% else %>
          <% @camel.reviews.each do |review| %>
            <%= render 'reviews/show', review: review %>
          <% end %>
        <% end %>
      </div>
    </div>
        <div id="formulaire">
          <%= render 'reviews/form', camel: @camel, review: @review %>
        </div>
      </div>
  </div>
</div>

